.priorty.low {
  color: green;
}

.priority.medium {
  color: orange;
}

.priority.high {
  color: red;
}

.status.pending {
  color: goldenrod;
}

.status-select.in-progress {
  color: royalblue;
}

.status-select.completed {
  color: seagreen;
}

.delete-button {
  color: red;
  cursor: pointer;
  border: none;
  background: transparent;
}
.delete-button:hover {
  opacity: 0.8;
}
